# object files
*.o

# auto-save files
src/*~

# main executable and debug file
src/finiteVolumes
src/finiteVolumes.debug

#output files
src/data/*
src/contactAngle.csv
field.csv*
*.txt
Debug/

#eclipse files
.cproject
.project
.settings/

