# object files
*.o

# auto-save files
src/*~

# main executable and debug file
src/cl_advection
src/cl_advection.debug

#output files
src/data/*
src/testcases/shear_field_2d/data/
src/contactAngle.csv
*.csv*
*.txt
*.pdf
html/*
latex/*

#testcase directories
/src/testcases/

#eclipse project files
.cproject
.project
.settings
src/Debug

